*, *::before, *::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}
input, button, textarea, select {
  font: inherit;
}
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}
#root, #__next {
  isolation: isolate;
}

/* ^reset^ */

body {
    background-color: rgb(226, 232, 240);
    font-family: sans-serif;
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 1fr 4fr;
}

a {
    color: inherit;
    text-decoration: none;
}

nav {
    background-color: rgb(25, 146, 212);
    color: white;
    grid-row: 1 / 3;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
}

nav .sub {
    grid-row: 2 / 3;
    display: grid;
}

nav .sup {
    grid-row: 3 / 4;
    display: grid;
}

header {
    background-color: white;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    display: grid;
    grid-template-rows: 1fr 2fr;
}

header form {
    grid-row: 1 / 2;
}

header input {
    background-color: rgb(226, 232, 240);
    border: none;
    border-radius: 20px;
    padding: 5px;
    width: 100%;
}

header a {
    grid-row: 1 / 2;
}

header h2 {
    grid-row: 2 / 3;
}

header button {
    background-color: rgb(25, 146, 212);
    color: white;
    border: none;
    border-radius: 20px;
    /* padding: 10px 40px 10px 40px; */
    grid-row: 2 / 3;
}

main {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 20px;
}

.projects {
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 8fr 8fr 8fr;
    gap: 20px;
}

.projects h3 {
    grid-column: 1 / 3;
}

.news {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
}

.trend {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}

.projects div {
    background-color: white;
    border-left: 10px solid rgb(240, 180, 41);
    border-radius: 10px;
}

.news div {
    background-color: white;
    border-radius: 10px;
}

.trend div {
    background-color: white;
    border-radius: 10px;
}